name: Simple Si Hexagon
units:
  length: mm
  angle: deg
  potential: V
  temperature: K
grid:
  coordinates: cartesian
  axes:
    x:
      from: -2
      to: 2
      boundaries:
        left: inf
        right: inf
    y:
      from: -2
      to: 2
      boundaries:
        left: inf
        right: inf
    z:
      from: -1
      to: 3
      boundaries:
        left: inf
        right: inf
medium: vacuum
detectors:
- semiconductor:
    material: Si
    temperature: 140
    impurity_density:
      name: linear
      offset: 4e6
      gradient: 
        z: 2e5
    charge_drift_model:
      include: ADLChargeDriftModel/drift_velocity_Si_300K.yaml
    geometry:
      HexagonalPrism:
        r: 1
        h: 2
        origin:
          z: 1
  contacts:
  - material: Si
    name: n+ contact
    potential: 0
    id: 1
    geometry:
      HexagonalPrism:
        r:
          from: 0.5
          to: 1
        h: 0.01
        origin:
          z: 2.005
  - material: Si
    name: p+ contact
    potential: -150
    id: 2
    geometry:
      HexagonalPrism:
        r: 1
        h: 0.01
        origin:
          z: -0.005

