name: Coaxial Torus
units:
  length: mm
  angle: deg
  potential: V
  temperature: K
grid:
  coordinates: cylindrical
  axes:
    r:
      to: 20
      boundaries: inf
    phi:
      from: 0
      to: 0
      boundaries: periodic
    z:
      from: -10
      to: 10
      boundaries:
        left: inf
        right: inf
medium: vacuum
detectors:
- semiconductor:
    material: HPGe
    temperature: 78
    impurity_density:
      name: constant
      value: -1e7
    charge_drift_model:
      include: ADLChargeDriftModel/drift_velocity_config.yaml
    geometry:
      torus:
        r_torus: 10
        r_tube:
          from: 2
          to: 5
  contacts:
  - name: p contact
    material: HPGe
    id: 1
    potential: 0
    geometry:
      torus:
        r_torus: 10
        r_tube:
          from: 2
          to: 2
  - name: n contact
    material: HPGe
    id: 2
    potential: 100
    geometry:
      torus:
        r_torus: 10
        r_tube:
          from: 5
          to: 5