# Example configuration file for fieldgen/siggen, by David Radford
# all lengths are in mm
# format is <key_word> <value> # comment, with key_word starting at beginning of line

# general
verbosity_level      2   #  0 = terse, 1 = normal, 2 = chatty/verbose

# detector geometry
xtal_length         80   # z length
xtal_radius         35   # radius
top_bullet_radius    0   # bulletization radius at top of crystal
bottom_bullet_radius 0   # bulletization radius at bottom of BEGe crystal
pc_length            2   # point contact length
pc_radius            3   # point contact radius
bulletize_PC         0   # point contact hemispherical rather than cylindrical
wrap_around_radius  15   # wrap-around radius. Set to zero for ORTEC
ditch_depth          0   # depth of ditch next to wrap-around for BEGes. Set to zero for ORTEC
ditch_thickness      0   # width of ditch next to wrap-around for BEGes. Set to zero for ORTEC
bottom_taper_length  0   # size of 45-degree taper at bottom of ORTEC-type crystal (for r=z)
hole_length         55   # length of hole, for inverted-coax style
hole_radius          5   # radius of hole, for inverted-coax style
outer_taper_length  60   # z-length of outside taper for inverted-coax style
inner_taper_length   0   # z-length of inside (hole) taper for inverted-coax style
taper_angle         10   # taper angle in degrees, for inner or outer taper

Li_thickness       0.0   # depth of full-charge-collection boundary for Li contact (not currently used)

# configuration for mjd_fieldgen (calculates electric fields & weighing potentials)
xtal_grid         0.1    # grid size in mm for field files (usually 0.5 or 0.1 mm)
impurity_z0      -1.10   # net impurity concentration at Z=0, in 1e10 e/cm3
impurity_gradient 0.02   # net impurity gardient, in 1e10 e/cm4
xtal_HV           3500   # detector bias for fieldgen, in Volts
# options for mjd_fieldgen:
max_iterations    30000  # maximum number of iterations to use in mjd_fieldgen
write_field       1      # 0/1: do_not/do write the standard field output file
write_WP          1      # 0/1: do_not/do calculate the weighting potential and write it to the file

# file names
drift_name   ./drift_vel_tcorr.tab       # drift velocity lookup table
field_name   ../fields/ev_example.dat    # potential/efield file name; no included spaces allowed
wp_name      ../fields/wp_example.dat    # weighting potential file name; no included spaces allowed

# configuration for signal calculation 
xtal_temp         77     # crystal temperature in Kelvin
preamp_tau        0      # integration time constant for preamplifier, in ns
time_steps_calc   8000   # max. number of time steps used in calculations
step_time_calc    1.0    # length of time step used for calculation, in ns
step_time_out     10.0   # length of time step for output signal, in ns
#    nonzero values in the next few lines significantly slows down the code
charge_cloud_size 0      # initial FWHM of charge cloud, in mm
use_diffusion     0      # set to 0/1 for ignore/add diffusion as the charges drift
