name: ExampleCuboid
units:
  length: mm
  angle: deg
  potential: V
  temperature: K
grid:
  coordinates: cylindrical
  axes:
    r:
      to: 9
      boundaries: inf
    y:
      from: 0
      to: 0
      boundaries: periodic
    z:
      from: -9
      to: 9
      boundaries: inf
medium: vacuum
detectors:
  - semiconductor:
      material: HPGe
      temperature: 78
      impurity_density:
        name: linear
        offset: 1e7
        gradient: 
          z: 5e4
      charge_drift_model:
        include: ADLChargeDriftModel/drift_velocity_config.yaml
      geometry:
        box:
          widths: [10, 10, 10]
    contacts:
      - material: HPGe
        name: n+ contact
        potential: 2000
        id: 1
        geometry:
          union:
            - box:
                widths: [0.5, 10, 10]
                origin: 
                  x: -4.75
            - box:
                widths: [0.5, 10, 1]
                origin:
                  x: -4.25
                  z: 4.5
      - material: HPGe
        name: p+ contact
        potential: 0
        id: 2
        geometry:
          difference:
            - box:
                widths: [0.5, 10, 10]
                origin: 
                  x: 5
            - box:
                widths: [1.5, 4, 4]
                origin:
                  x: 5

surroundings:
  - name: Base
    material: Copper
    potential: 0
    geometry:
      box:
        widths: [18, 18, 2]
        origin: 
          z: -8