name: Public Coax
units:
  length: mm
  angle: deg
  potential: V
  temperature: K
grid:
  coordinates: cylindrical
  axes:
    r:
      to: 40
      boundaries: inf
    phi:
      from: 0
      to: 30
      boundaries:
        left: periodic
        right: reflecting
    z:
      from: -10
      to: 90
      boundaries:
        left: inf
        right: inf
medium: vacuum
detectors:
- semiconductor:
    material: HPGe
    temperature: 78
    charge_drift_model:
      include: ADLChargeDriftModel/drift_velocity_config.yaml
    geometry:
      difference:
      - tube:
          r: 37.5
          h: 70
          origin:
            z: 35
      - tube:
          r: 5
          h: 72
          origin:
            z: 35
      - cone:
          r:
            bottom: 10
            top: 5
          h: 6
          origin:
            z: 2.5
      - cone:
          r:
            bottom: 5
            top: 10
          h: 6
          origin:
            z: 67.5
  contacts:
  - material: HPGe
    id: 1
    potential: 6000
    geometry:
      tube:
        r:
          from: 5
          to: 5
        h: 60
        origin:
          z: 35
  - material: HPGe
    id: 2
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 0.382
          to: 59.618
        h: 23
        origin:
          z: 11.5
  - material: HPGe
    id: 3
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 60.382
          to: 119.618
        h: 23
        origin:
          z: 11.5
  - material: HPGe
    id: 4
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 120.382
          to: 179.618
        h: 23
        origin:
          z: 11.5
  - material: HPGe
    id: 5
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 180.382
          to: 239.618
        h: 23
        origin:
          z: 11.5
  - material: HPGe
    id: 6
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 240.382
          to: 299.618
        h: 23
        origin:
          z: 11.5
  - material: HPGe
    id: 7
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 300.382
          to: 359.618
        h: 23
        origin:
          z: 11.5
  - material: HPGe
    id: 8
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 0.382
          to: 59.618
        h: 23
        origin:
          z: 35
  - material: HPGe
    id: 9
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 60.382
          to: 119.618
        h: 23
        origin:
          z: 35
  - material: HPGe
    id: 10
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 120.382
          to: 179.618
        h: 23
        origin:
          z: 35
  - material: HPGe
    id: 11
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 180.382
          to: 239.618
        h: 23
        origin:
          z: 35
  - material: HPGe
    id: 12
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 240.382
          to: 299.618
        h: 23
        origin:
          z: 35
  - material: HPGe
    id: 13
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 300.382
          to: 359.618
        h: 23
        origin:
          z: 35
  - material: HPGe
    id: 14
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 0.382
          to: 59.618
        h: 23
        origin:
          z: 58.5
  - material: HPGe
    id: 15
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 60.382
          to: 119.618
        h: 23
        origin:
          z: 58.5
  - material: HPGe
    id: 16
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 120.382
          to: 179.618
        h: 23
        origin:
          z: 58.5
  - material: HPGe
    id: 17
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 180.382
          to: 239.618
        h: 23
        origin:
          z: 58.5
  - material: HPGe
    id: 18
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 240.382
          to: 299.618
        h: 23
        origin:
          z: 58.5
  - material: HPGe
    id: 19
    potential: 0
    geometry:
      tube:
        r:
          from: 37.5
          to: 37.5
        phi:
          from: 300.382
          to: 359.618
        h: 23
        origin:
          z: 58.5