name: Public Inverted Coax
units:
    length: mm
    angle: deg
    potential: V
    temperature: K
grid:
  coordinates: cylindrical
  axes:
    r:
      to: 40
      boundaries: inf
    phi:
      from: 0
      to: 0
      boundaries: periodic
    z:
      from: -10
      to: 90
      boundaries:
        left: inf
        right: inf
# grid:
#     coordinates: cartesian
#     axes:
#         x:
#             from: -40
#             to: 40
#             boundaries:
#                 left: inf
#                 right: inf
#         y:
#             from: -40
#             to: 40
#             boundaries:
#                 left: inf
#                 right: inf
#         z:
#             from: -10
#             to: 90
#             boundaries:
#                 left: inf
#                 right: inf
medium: vacuum
detectors:
    - bulk:
          material: HPGe
          temperature: 78
          impurity_density:
              name: cylindrical
              r:
                  init: 0
                  gradient: 0
              z:
                  init: -10000000
                  gradient: -100000
          charge_drift_model:
              include: ADLChargeDriftModel/drift_velocity_config.json
          geometry:
              difference:
                  - difference:
                        - translate:
                              tube:
                                  r: 35
                                  phi:
                                      from: 0
                                      to: 360
                                  h: 80
                              z: 40
                        - translate:
                              cone:
                                  r:
                                      bottom:
                                          from: 35
                                          to: 36
                                      top:
                                          from: 23.71
                                          to: 36
                                  phi:
                                      from: 0
                                      to: 360
                                  h: 64
                              z: 52
                  - translate:
                        tube:
                            r: 5
                            phi:
                                from: 0
                                to: 360
                            h: 80
                        z: 65
      contacts:
          - material: HPGe
            channel: 1
            potential: 0
            geometry:
                translate:
                    tube:
                        r: 3
                        phi:
                            from: 0
                            to: 360
                        h: 2
                    z: 1
          - material: HPGe
            channel: 2
            potential: 3500
            geometry:
                union:
                    - tube:
                          r:
                              from: 15
                              to: 35
                          phi:
                              from: 0
                              to: 360
                          h: 0
                    - translate:
                          tube:
                              r:
                                  from: 35
                                  to: 35
                              phi:
                                  from: 0
                                  to: 360
                              h: 20
                          z: 10
                    - translate:
                          cone:
                              r:
                                  bottom:
                                      from: 35
                                      to: 35
                                  top:
                                      from: 24.42
                                      to: 24.42
                              phi:
                                  from: 0
                                  to: 360
                              h: 60
                          z: 50
                    - translate:
                          tube:
                              r:
                                  from: 5
                                  to: 24.42
                              phi:
                                  from: 0
                                  to: 360
                              h: 0
                          z: 80
                    - translate:
                          tube:
                              r:
                                  from: 5
                                  to: 5
                              phi:
                                  from: 0
                                  to: 360
                              h: 55
                          z: 52.5
                    - translate:
                          tube:
                              r: 5
                              phi:
                                  from: 0
                                  to: 360
                              h: 0
                          z: 25
